
/* start services */
.serv-warpper {
    display: grid;
    gap: 30px 30px;
  grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    justify-items: center;
    
  }
  
  .serv-warpper .serv {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color:#eee;
    padding: 30px;
    border-radius: 10px;
    color: var(--nav-color);
    gap: 10px;
    transition: var(--main-transition);
    box-shadow: rgba(1, 62, 70, 0.4) 0px 5px,
    rgba(2, 45, 51, 0.4) 0px 10px,
    rgba(2, 29, 33, 0.4)0px 15px,
    rgba(1, 31, 34, 0.4) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  }
  
  .serv-warpper .serv span {
    display: block; 
    margin-right: 10px auto;
    background-color: var(--nav-color);
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 50%; 
    text-align: center; 
    line-height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .serv-warpper .serv:hover {
    background-color: #e9dead;
    scale: 1.05;
  }
  .serv-warpper .serv p {
  
    line-height: 2; /* Adjust line height as necessary */
    margin: 0; /* Ensure no additional margins are applied */
    display: block;
    margin-top: 10px;
    flex: 1;
    width: fit-content;
    margin: 0;
    padding: 0;
    text-align:left;
  
  }
  
  
  .acounts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 8px;
  
  }
  .acounts .acount{
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px var(--heading-color);
    transition: var(--main-transition);
  }
  .acounts .acount:hover{
    box-shadow: 0 0;
    
  }
  @media (max-width:800px) {
    .serv-warpper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .serv-warpper .serv{
      display: flex;
      flex-direction: row;
      width: 80%;
      align-items: center;
      justify-content: center;
        
      padding: 30px;
      border-radius: 10px;
      gap: 10px;

    }
  
    .serv-warpper .serv span{
      font-size: 20px;
      margin: auto;
   
     
    
    }
    
    .serv-warpper .serv p{
      display: block;
      margin-top: 10px;
  
      width: 200px;
      margin: 0;
      padding: 0;
      text-align:left;
    }
  }
  
  /* end services */
  
  
  /* start contact us */
  .contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242002;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 70%;
    box-shadow: rgba(120, 120, 120, 0.07) 0px 1px 1px, rgba(146, 146, 146, 0.07) 0px 2px 2px, rgba(251, 251, 251, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(180, 179, 179, 0.07) 0px 16px 16px;
  }
  .contact input,textarea{
    display: block;
    width: 80%;
    margin: 20px auto;
    background-color: #342e04;
  }
  .contact input,textarea{
    border: none;
    outline: none;

  }
  .contact input{
    padding: 10px;
    border: none;

  
    border-radius: 30px;

    color: white;
  }
  textarea{
    height: 200px;
    padding: 10px;
    border-radius: 25px;
    border: none;


    color: white;
  }
  #submit{
    background-color:var(--nav-color);
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius:10px;
    font-size: 20px;
    transition: var(--main-transition);
  }
  #submit:hover{
  
    border-radius: 30px;
  }

  /* end contact us */
  
  /* start footer */
  footer{
    width: 100%;
    background-color:var(--nav-color);
    padding: 10px;
  }
  
  footer a i{
    font-size: 30px ;
    color:white ;
    margin: 4px ;
  }
  footer div{
    margin: 5px auto;
    width: fit-content;
  }
  
  footer span{
    display:block;
    width: fit-content;
    margin: 4px auto;
    color: white;
  }
  footer a{
    display: inline ;
  }
  /* end footer */