/* start global */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root{
--background-color: #12100E;
--nav-color:#30321C;
--heading-color: #6B654B;
--hover-heading: #D4DF9E;
--addition-color:#4A4B2F;
--main-transition:0.1s;
}
.container{
    margin: 10px;
    margin-top: 100px;
    padding: 10px;
}
body{
    
    background-color: var(--background-color);
    background: #342e04;
    font-family: sans-serif;
    min-height: 100vh;
    color: white;
}


.container > div:not(:last-child){
  margin-bottom: 100px;
}
.main-heading{
  display: block;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  color: white;
  background-color: var(--heading-color);
  transition: var(--main-transition);
  width: 250px;
  text-align: center;
  text-transform: uppercase;
}

.main-heading:hover{
  background-color: var(--hover-heading);
  color: var(--background-color);
}
.second-heading{
  padding: 10px;
  margin: 50px auto;
  width: 200px;
  text-align: center;
  position: relative;
}
.second-heading::before,.second-heading::after{
  content: "";
  height: 10px;
  background-color: var(--addition-color);
  display: block;
  position: absolute;
}
.second-heading::before{
  left: 0;
  width: 100%;
  top: -10px;
}
.second-heading::after{
  left: 0;
  width: 100%;
  bottom: -10px;
}
ul{
  list-style:none;
}
a{
  text-decoration: none;
  color: rgb(0, 115, 255);
}
/* end global */

#particles-js, #bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}






