/* start global */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root{
--background-color: #12100E;
--nav-color:#30321C;
--heading-color: #6B654B;
--hover-heading: #D4DF9E;
--addition-color:#4A4B2F;
--main-transition:0.1s;
}
.container{
    margin: 10px;
    margin-top: 100px;
    padding: 10px;
}
body{
    
    background-color: var(--background-color);
    font-family: sans-serif;
    min-height: 100vh;
    color: white;
}


.container > div:not(:last-child){
  margin-bottom: 100px;
}
.main-heading{
  display: block;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  color: white;
  background-color: var(--heading-color);
  transition: var(--main-transition);
  width: 250px;
  text-align: center;
  text-transform: uppercase;
}

.main-heading:hover{
  background-color: var(--hover-heading);
  color: var(--background-color);
}
.second-heading{
  padding: 10px;
  margin: 50px auto;
  width: 200px;
  text-align: center;
  position: relative;
}
.second-heading::before,.second-heading::after{
  content: "";
  height: 10px;
  background-color: var(--addition-color);
  display: block;
  position: absolute;
}
.second-heading::before{
  left: 0;
  width: 100%;
  top: -10px;
}
.second-heading::after{
  left: 0;
  width: 100%;
  bottom: -10px;
}
ul{
  list-style:none;
}

/* end global */

/* start navbar  */
nav{
    background-color: var(--nav-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    padding:0 10px ;
    z-index: 1000;
    backdrop-filter: blur(12px);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav li{
    height: 57px;
    margin: 10px 0;
  }
  nav i{  font-size: 30px;}
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transition: var(--main-transition);
  }
  nav a:hover{
    background-color: var(--addition-color);
  }
nav li:last-child{
  margin-left: auto;
}
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--nav-color);
  }

  .activesidebar{
    display: flex;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  i{
    margin-right: 7px;
  }
  .download{
    border-radius: 50px;
    color: white;
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .download:hover{
    background-color:rgb(62, 62, 202);
  }
  @media (min-width: 920px) {
    .sidebar {
      display: none;
    }
  }
  
  @media(max-width: 920px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
/* start navbar  */
/* start welcome */
.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative; 
}

.welcome::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("landing.svg"); /* Use forward slashes here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust this value to make the image more or less transparent */
  margin-top: 123px;
  z-index: -1;
}
@media (max-width:1225px) {
  .welcome::before {
    background-image: none;
    background-color: #30321C;
    width: 90%;
  height: 90%;
  border-radius: 20px;
 left: 5%;
 top: calc(-100px + 10%);
  }
}
.welcome img{
  width: 200px;
  border-radius:10px;

}
.welcome .image{
  position: relative;
  margin-bottom: 30px;
}
.welcome .image::before{
  content: "";
  position: absolute;
  background-color: white;
  top: 30px;
  left: -30px;
  width: 100%;
  height: 100%;
  z-index: -3; /* Ensure the pseudo-element is behind the image */
  border-radius: 10px;
}

.welcome p{
  font-size: 30px;
  margin: 10px;
}

.go-down {
  color: red;
  position: absolute;
  bottom: 30px;

  
  transition: 500ms;

  display: block;
  width: fit-content;
  margin: 20px auto 0 auto;

}
.go-down i{
  padding: 0;
  margin: 0;

}
.go-down {
  animation: bouncing 0.5s infinite;
}
@keyframes bouncing {
  0%,10%,20%,50%,80%,100%{
      transform: translate(0);
  }
  40%,60%{
      transform: translateY(-15px);
  }
}
@media (max-width:420px) {
  .welcome p{
    font-size: 22px;
  }
}
.welcome a{
  text-decoration: none;
  color: rgb(0, 115, 255);
  cursor: pointer;
  transition: var(--main-transition);
}
.welcome a:hover{
  color: rgb(55, 0, 255) ;
}
.welcome ul{
  display: flex;
  gap: 10px;
  margin: 30px;
}

.welcome ul i{
  font-size: 30px;
  color: white;
  transition: 0.5s;
}
ul i:hover{
 color: var(--addition-color);
 transform: rotate(360deg);

}
/* end welcome */
/* start about  */
.about p{

  padding: 20px;
  border-radius: 5px;
  margin: 20px 10px;
  background-color: var(--addition-color);
}
/* end about  */

/* start skills */
.skills table {
  width: 80%;
  margin: 20px auto;
  color: black;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  background-color: #eee;
  overflow: visible;
}
@media (max-width:780px) {
  .skills table {
    font-size: 14px;
  }
}


.skills table th,
.skills table td {
  text-align: center;
  padding: 15px;
  border: 1px solid white;
}

.skills table th {
  text-transform: uppercase;
  background-color: #d5d2d2;
}


.skills table tr{
  transition: var(--main-transition);
}
.skills table tr:not(:first-child):hover{
  background-color: #e9dead;
  transform: scale(1.1);
  border-radius: 10px;


}
.skills table tr td:first-of-type{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border: none;
}
.skills table td img{
  width: 60px;
  margin: 5px;
}
/* end  skills */

/* start certfications */
button.show{
  width: 250px;
  padding: 20px;
  display: block;
  margin: 20px auto;
  text-transform: capitalize;
  background-color:rgb(84, 94, 75);
  color: white;
  border: none;
  border-radius: 50px;
  height: 100px;
  font-size: medium;
  font-weight: bold;
  transition: var(--main-transition);
  text-align: center;
}
button.show i{
  display: block;
}
button.show:hover{
  background-color: rgb(111, 145, 82);
}
.certfications .cate {
  margin: 20px 10px;
  transition: 2s;
}

.certfications .cate .images{

  display: none;
  transition: max-height 0.5s ease-out;
}
.showCertification{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;

}
.certfications .cate img{
  width: 400px;
  height: 250px;
  transition: var(--main-transition);
  border-radius: 4px;

}
.certfications .cate img:hover{
  transform: scale(1.1);

}
 @media (max-width:710px) {


  .certfications .cate img{
    width: 250px;
    height: 150px;
  }
}
/* end certfications  */

/* start projects */

.wrapper {
  position: relative;
  /* max-width: 940px; */
  width: 100%;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, .7);
}
.arrow.prev {
  left: 0;

}
.arrow.next {
  right: 0;
}
.card-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  overflow-x: auto;
  padding: 24px;
  gap: 24px;
  cursor: grab;
  scroll-snap-type: x;
  scroll-padding-inline: 24px;
  scroll-behavior: smooth;
  scrollbar-width: none;

}
.card-wrapper::-webkit-scrollbar {
  display: none;
}
.card-wrapper.grab {
  cursor: grabbing;
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.card-info{
  display: flex;
  flex-direction: column;
}
.card-item{
  background-color: white;
  color: #12100E;
  width: 270px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  scroll-snap-align: start;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, .1);

}
.card-item .title{
  display: block;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-bottom:1px var(--addition-color) solid;
  font-size: large;
  font-weight: bold;
  color: rgb(48, 47, 47);
}
.card-item .description{
  color: rgb(47, 43, 43);
  padding: 5px;
  text-transform: capitalize;
  height: 150px;
  line-height: 1.5;
  overflow-y: auto;
  /* overflow-y: scroll; */
}
.card-item .cate{
  background-color: #7e8620;
  min-width: 100px;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  border-radius: 10px;
transition: var(--main-transition);
}
.card-item .cate:hover{
  background-color: var(--addition-color);
}
.card-item a{
  text-decoration: none;
  color: rgb(0, 115, 255);
  cursor: pointer;
  transition: var(--main-transition);
  background-color: wheat;
  padding: 10px;
  width: fit-content;
  margin: 10px auto;
}
.card-item a:hover{
  color: rgb(55, 0, 255) ;
}
/* end projects */

/* start services */
.serv-warpper {
  display: grid;
  gap: 30px 30px;
grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
  justify-items: center;
  
}

.serv-warpper .serv {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color:#413c3c;
  padding: 30px;
  border-radius: 10px;

  gap: 10px;

}

.serv-warpper .serv span {
  display: block; 
  margin-right: 10px auto;
  background-color: aqua;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 50%; 
  text-align: center; 
  line-height: 50px; 
}
.serv-warpper .serv p {

  line-height: 2; /* Adjust line height as necessary */
  margin: 0; /* Ensure no additional margins are applied */
  display: block;
  margin-top: 10px;

  width: fit-content;
  margin: 0;
  padding: 0;
  text-align:left;

}


.acounts{
  display: block;
  width: fit-content;
  margin: 20px auto;
}
.acounts table{
  border-spacing: 8px;
  padding: 10px;
  background-color: #ccc;
  color: black;
}
.acounts table a{
  text-decoration: none;
  color: rgb(0, 115, 255);
  cursor: pointer;
  transition: var(--main-transition);
}

@media (max-width:800px) {
  .serv-warpper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .serv-warpper .serv{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color:#413c3c;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
  }

  .serv-warpper .serv span{
    font-size: 20px;
    margin: auto;
 
   
  
  }
  
  .serv-warpper .serv p{
    display: block;
    margin-top: 10px;

    width: 200px;
    margin: 0;
    padding: 0;
    text-align:left;
  }
}

/* end services */


/* start contact us */
.contact form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact input,textarea{
  display: block;
  width: 80%;
  margin: 20px auto;
}
.contact input,textarea:focus{
  border: none;
  outline: #6B654B;
}
.contact input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 30px;
}
textarea{
  height: 200px;
  padding: 10px;
  border-radius: 25px;
  border: none;
}
#submit{
  background-color:rgb(58, 249, 58);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  transition: var(--main-transition);
}
#submit:hover{
  background-color: rgb(41, 201, 41);
}
.contact .links{
  display: block;
  width: fit-content;
  padding: 10px;
  margin: 10px auto;
  background-color:#f9d63e;
  border-radius: 20px;
  color: black;
}
.contact .links a{
  text-decoration: none;
  color: rgb(0, 115, 255);
  cursor: pointer;
  transition: var(--main-transition);
}
/* end contact us */

/* start footer */
footer{
  width: 100%;
  background-color:var(--nav-color);
  padding: 10px;
}

footer a i{
  font-size: 30px ;
  color:white ;
  transition: 1s ;
  margin: 4px ;
}
footer div{
  margin: 5px auto;
  width: fit-content;
}
footer i:hover {
  color: rgb(240, 164, 72);
}
footer span{
  display:block;
  width: fit-content;
  margin: 4px auto;
  color: white;
}
footer a{
  display: inline ;
}
/* end footer */

